.main {
  transition: background-color 0.9s ease;
}

/* Dark mode styles */
.dark-mode {
  background-color: #15202b;
  color: #ffffffbd;
}

.dark-mode .toggle-container {
  background-color: #192734;
}

/* Light mode styles */
.light-mode {
  background-color: #ffffffc7;
  color: #1f1f1f;
}

.light-mode .toggle-container {
  background-color: #ffffffc7;
  color: #696969;
}

.toggle-button {
  background-color: #1d4480;
  color: #ffffffc9;
  border-style: none;
}

.toggle-button:hover {
  background-color: #ff8800d5;
  color: #ffffffc9;
  border-style: none;
  transition: background-color 0.5s ease, color 0.5s ease, border-style 0.5s ease;
}
